# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Local configuration
config.ini

# Databases
artists.sqlite3
sync.db

# Logs
logs/

# Virtual environment
venv/
.venv/

# macOS
.DS_Store
